<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.script.ymy.mapper.YmyImageMapper">
  <resultMap id="BaseResultMap" type="com.script.ymy.dto.YmyImage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="account_id" jdbcType="VARCHAR" property="accountId" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="group_code_id" jdbcType="VARCHAR" property="groupCodeId" />
    <result column="relative_path" jdbcType="VARCHAR" property="relativePath" />
    <result column="absolutely_path" jdbcType="VARCHAR" property="absolutelyPath" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, account_id, group_code_id, relative_path, absolutely_path,device_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ymy_account_img
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findImgList" parameterType="com.script.ymy.vo.req.YmyImageUploadReq" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_ymy_account_img
    where
    account_id = #{accountId,jdbcType=VARCHAR}
    and
    group_code_id=#{groupCodeId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_ymy_account_img
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.script.ymy.dto.YmyImage" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into t_ymy_account_img (id, name, account_id, device_id,
      group_code_id, relative_path, absolutely_path
      )
    values
     (
     #{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR},#{deviceId,jdbcType=VARCHAR},
      #{groupCodeId,jdbcType=VARCHAR}, #{relativePath,jdbcType=VARCHAR}, #{absolutelyPath,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertBathImg" parameterType="com.script.ymy.dto.YmyImage">
    insert into t_ymy_account_img (
    name, account_id,device_id,
    group_code_id, relative_path, absolutely_path
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
       #{item.name,jdbcType=VARCHAR}, #{item.accountId,jdbcType=VARCHAR}, #{item.deviceId,jdbcType=VARCHAR}, #{item.groupCodeId,jdbcType=VARCHAR}, #{item.relativePath,jdbcType=VARCHAR}, #{item.absolutelyPath,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>


  <insert id="insertSelective" parameterType="com.script.ymy.dto.YmyImage">
    insert into t_ymy_account_img
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="groupCodeId != null">
        group_code_id,
      </if>
      <if test="relativePath != null">
        relative_path,
      </if>
      <if test="absolutelyPath != null">
        absolutely_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="groupCodeId != null">
        #{groupCodeId,jdbcType=VARCHAR},
      </if>
      <if test="relativePath != null">
        #{relativePath,jdbcType=VARCHAR},
      </if>
      <if test="absolutelyPath != null">
        #{absolutelyPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.script.ymy.dto.YmyImage">
    update t_ymy_account_img
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="groupCodeId != null">
        group_code_id = #{groupCodeId,jdbcType=VARCHAR},
      </if>
      <if test="relativePath != null">
        relative_path = #{relativePath,jdbcType=VARCHAR},
      </if>
      <if test="absolutelyPath != null">
        absolutely_path = #{absolutelyPath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.script.ymy.dto.YmyImage">
    update t_ymy_account_img
    set name = #{name,jdbcType=VARCHAR},
      account_id = #{accountId,jdbcType=VARCHAR},
      group_code_id = #{groupCodeId,jdbcType=VARCHAR},
      relative_path = #{relativePath,jdbcType=VARCHAR},
      absolutely_path = #{absolutelyPath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>